
.button {
  padding: 16px 16px;
  cursor: pointer;
  background-color: #009B77;
  border: none;
  border-radius: 20px;
  color: #eee;
  font-weight: 700;
  margin-top: 20px;
}

.button2 {
  padding: 16px 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupimg {
  position: relative !important;

}