.container {}

.frame1container {
  background-color: #009B77;
}

.frame1body {
  margin: 0 auto;
  max-width: 1366px;
  padding: 100px 60px;
  display: flex;
  align-items: center;
}

.frame1item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.frame1title {
  font-size: 64px;
  line-height: 77px;
  font-weight: 700;
  color: #fff;
}

.frame1desc {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.explore {
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  width: max-content;
  color: #009B77;
  font-size: 24px;
  font-weight: 700;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  animation: move 3s infinite ease alternate;
}


.frame2container {
  background-color: #fff;
}

.frame2body {
  align-items: center;
  margin: 0 auto;
  max-width: 1366px;
  padding: 100px 60px;
}

.frame2title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

.frame2desc {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  margin: 30px 0px;
}

.frame2cardtitle {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0px 10px 0px;
}

.frame2carddesc {
  text-align: center;
  font-size: 16px;
}

.frame2cardcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 0px;
}

.frame2cardbody {
  align-items: center;
  justify-content: center;
}

.frame2cardimg {
  width: 100%;
  height: 358px;
  border-radius: 40px;
  /* object-fit: cover; */
  /* animation: move 3s infinite ease alternate; */
}

.frame3container {
  padding: 0px 0px 40px 0px;
}

.frame3img {
  width: 100%;
  height: 150px;
}

.frame4body {
  margin: 0 auto;
  max-width: 1366px;
  padding: 100px 60px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.frame4item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.frame4title {
  font-size: 45px;
  line-height: 77px;
  font-weight: 700;
}

.frame4desc {
  font-size: 28px;
  font-weight: 500;
}

.frame4img {
  width: 100%;
  height: 740px;
  border-radius: 40px;
}

.frame5body {
  margin: 0 auto;
  max-width: 1366px;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.frame5item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.frame5title {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.frame5desc {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.frame5img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.frame5container {
  background-color: #009B77;
}

.frame6body {
  margin: 0 auto;
  max-width: 1366px;
  padding: 100px 60px;
  display: flex;
  align-items: center;
}

.frame6title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.frame6desc {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.frame6img {
  width: 320px;
  height: 320px;
  object-fit: contain;
}

.frame6itemtext{
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.frame6item{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.explore2 {
  padding: 15px 85px;
  background-color: #009B77;
  border: none;
  border-radius: 30px;
  width: max-content;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  align-self: center;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}