
.link {
  text-decoration: underline;
  color: #7d7c7c;
}

.link:hover {
  color: rgb(61, 61, 61);
}

.google {
  background-color: rgba(228, 97, 50, 0.72);
}

.google:hover {
  background-color: rgba(228, 97, 50, 0.803);
} 

.button {
  padding: 16px 16px;
  cursor: pointer;
  background-color: #009B77;
  border: none;
  border-radius: 20px;
  color: #eee;
  font-weight: 700;
  margin-top: 20px;
}



.loginlink{
  font-size: 16px;
  text-align: center;
}

.signupimg{
  position: relative !important;
}

.button2 {
  padding: 16px 16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}